# Flag is checked within main build file
local.props.present=true

# Try to skip building the scheduler (if there is not a copy available it will
# still do the build)
skip.sched.build=true

# Web dir to copy from
# You can change this to deploy from a branch instead if you like:
#web.dir=BRANCHES/web-jon
web.dir=web

# Scheduler to build from
# You can change this to work from, e.g. a branch:
#sched.dir=BRANCHES/sched-crazy
sched.dir=sched

# DB settings, subbed into web/application/config/database.php
db.serv=redwolf.cdf.utoronto.ca
db.schema=ptaweb
db.user=web
db.pass=ptawebsite
db.name=ptadb
db.pg.port=14860
db.tcp.port=14861

# Deploy directory (will be deleted and replaced during "do-deploy" task)
dest.dir=/h/u14/c1/00/c1prindi/public_html/srcdeploy
